<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Xallet Swiss.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>14DEC1E492C3AEB6F93327E4FC8C12A09DA234E3</string>
				<key>dateExpires</key>
				<string>2/7/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>95J4Q2646G.org.loyalfamous.xallet.swiss</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>95J4Q2646G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Xallet Swiss.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>35ada190-958f-42f9-aa89-544342d7ca76</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.loyalfamous.xallet.swiss</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>95J4Q2646G</string>
				<key>name</key>
				<string>IMMIN PTE. LTD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
